@import './global/_variables.scss';
@import './global/_mixins.scss';

/* ------------------------------------------------------------ *\
	Widget bonus
\* ------------------------------------------------------------ */

.widgetBonus {
	text-align: center;

	@include breakpoint-down(tablet) {
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		margin: -4px;
	}

	@include breakpoint-down(mobile) {
		text-align: center;
		justify-content: center;
	}

	@include breakpoint-down(mobile-small) {
		margin: -2px;
	}

	> * {
		margin: 0;

		@include breakpoint-down(tablet) {
			padding: 4px;
		}

		@include breakpoint-down(mobile-small) {
			padding: 2px;
		}
	}

	.widgetBonusLabel {
		font-weight: 600;
		font-size: 20px;

		@include breakpoint-down(tablet) {
			flex: 0 0 100%;
			max-width: 100%;
			padding-bottom: 0;
			margin-bottom: -2px;
		}
	}

	.widgetBonusAmount {
		font-size: 28px;
	}
}
