@import './global/_variables.scss';
@import './global/_mixins.scss';

/* ------------------------------------------------------------ *\
	Widget rating
\* ------------------------------------------------------------ */

.widgetStarsRating {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;

	@include breakpoint-down(mobile) {
		justify-content: center;
	}
}

.star {
	display: block;
	width: 31px;
	height: 31px;
	margin: 2px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.empty {
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1.30198L18.6381 10.0491L18.7554 10.3311L19.0598 10.3555L28.5031 11.1126L21.3083 17.2757L21.0764 17.4743L21.1473 17.7714L23.3454 26.9864L15.2606 22.0483L15 21.8891L14.7394 22.0483L6.65461 26.9864L8.85274 17.7714L8.9236 17.4743L8.69166 17.2757L1.49688 11.1126L10.9402 10.3555L11.2446 10.3311L11.3619 10.0491L15 1.30198Z' stroke='%23F09F00'/%3E%3C/svg%3E%0A");
}

.filled {
	background-image: url("data:image/svg+xml,%3Csvg width='31' height='29' viewBox='0 0 31 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 0.5L19.5998 10.3571L30.2414 11.2102L22.1336 18.1554L24.6107 28.5398L15.5 22.975L6.38933 28.5398L8.86638 18.1554L0.758624 11.2102L11.4002 10.3571L15.5 0.5Z' fill='%23F09F00'/%3E%3C/svg%3E%0A");
}
